extends layout/_default

block title
    title Home page
block content
    blank-page(v-if="$root._data.isBlank")
    div(v-if="$root._data.isBlank==false")
        include ../components/header/header
        div#huddle-room-mount
        div.layout
            div.layout__sidebar
                div.layout__sidebar-scrolling
                    sidebar-pacient(:pacients="$root._data.Customers", :active="activePacient")
            div.layout__content(v-if="$root._data.isAirlineDemo === true")                    
                .layout__content-scrolling
                    airline-demo(:patients="$root._data.Customers[$root.activePacient]", v-if="$root.currentShowSubBox !=='patient-info'")
                    .content(v-if="$root.currentShowSubBox ==='patient-info'", key="patient-info")
                        .content__top-line
                            h1.title Customer Information
                            a(href="#3", @click.prevent="$root.currentShowSubBox = null").content__top-action
                                svg.ico-svg.ico-svg__close 
                                    use(xlink:href="#close")
                        .content__box(v-if="$root._data.isPatient === false && $root._data.isProvider === false")
                            patient-info(:info="$root._data.Customers[$root.activePacient]")
                            pharmacy(:info="$root._data.Customers[$root.activePacient]")
                            journey-map(:info="$root._data.Customers[$root.activePacient]")
                        .content__box(v-if="$root._data.isPatient === true || $root._data.isProvider === true")
                            patient-info(v-if="$root._data.isAdam === false", :info="$store.state.chosenCustomer")
                            pharmacy(v-if="$root._data.isAdam === false", :info="$store.state.chosenCustomer")
                            journey-map(v-if="$root._data.isAdam === false", :info="$store.state.chosenCustomer")
                            patient-info(v-if="$root._data.isAdam === true", :info="$root._data.AdamProfile[0]")
                            pharmacy(v-if="$root._data.isAdam === true", :info="$root._data.AdamProfile[0]")
                            journey-map(v-if="$root._data.isAdam === true", :info="$root._data.AdamProfile[0]")
            div.layout__content(v-if="$root._data.isAirlineDemo === false")
                .layout__content-scrolling
                    transition(name="fade", mode='out-in')
                        .content
                            .content__box
                                phone-book(:show="$root.currentShowPhoneBook")
                    transition(name="fade", mode='out-in')
                        //-show modal for phone-book
                        answering-service(:data="$root._data.Directory", v-if="$root.currentShowBox ==='home' && $root._data.isPatient === true && !currentShowSubBox")
                        answering-service-provider(:data="$root._data.Directory", v-if="$root.currentShowBox ==='home' && $root._data.isProvider === true && !currentShowSubBox")
                        .content(v-if="$root.currentShowBox ==='home' && $root._data.isPatient === false && $root._data.isProvider === false && !currentShowSubBox", key="home")
                            .content__top-line
                                h1.title Caller Information
                                a(href="#3", @click.prevent="$root.showSearchCustomer()").content__top-action
                                    h1.title.inline-block Search Customer
                                    svg.ico-svg__search-patient
                                        use(xlink:href="#search")
                            transition(name="fade", mode='out-in')
                                .content
                                    .content__box
                                        search-patient(:show="$root.currentShowSearchCustomer")
                            div().ccase-managment
                                .ccase-managment__top
                                    .ccase-managment__top-item
                                        span().infoname Caller Name
                                        multiselect(
                                            v-if="$root._data.addNewCallerName===false",
                                            v-model="$root._data.dropdownCallerName",
                                            :options="$root._data.patientNames",
                                            @input="$root.getCurrentIndexPacient",
                                            :searchable="false",
                                            :allowEmpty="false",
                                            :showLabels="false"
                                        ).ui-multiselect.ui-multiselect--default.inline-block
                                        input(v-if="$root._data.addNewCallerName", v-model="$root._data.newCallerName", :value="$root._data.callerPhone", @keyup="$root.onKeyPress").infovalue
                                        
                                    .ccase-managment__top-item
                                        span().infoname Caller Phone #
                                        input(:value="$root._data.callerPhone" readonly).infovalue

                                    .ccase-managment__top-item
                                        span().infoname Call Type
                                        multiselect(
                                            :options="['Customer', 'Parent', 'Family', 'Agent', 'Nurse', 'Physician']",
                                            :searchable="false",
                                            v-model="$root._data.dropdownCallerType",
                                            :allowEmpty="false",
                                            :showLabels="false"
                                        ).ui-multiselect.ui-multiselect--default.inline-block

                                    .ccase-managment__top-item
                                        span().infoname Other
                                        input(:value="$root._data.callerHospital" readonly).infovalue
                                .ccase-managment__top
                                    span().infoname Notes
                                .ccase-managment__top__bottom
                                    textarea(:value="$root._data.callerNotes" readonly).full-width
                                .ccase-managment__top_boxes
                                    .ccase-managment__top-rect.inline-block
                                        board-block(:count='$root.activePacient==3?5:1', :text="'Past Appointments'", :col="'rgb(255,0,0)'")
                                    .ccase-managment__top-rect.inline-block
                                        board-block(:count='$root.activePacient==0?3:2', :text="'Current Appointments'", :col="'green'")
                                    .ccase-managment__top-rect.inline-block
                                        board-block(:count='$root.activePacient==3?6:1', :text="'Future Appointments'", :col="'grey'")
                                    .ccase-managment__top-rect.inline-block
                                        board-block(:count='$root.activePacient==0?2:3', :text="'Cancelled/No Shows'", :col="'pink'")
                                .ccase-managment__top_boxes
                                    .ccase-managment__top-rect.inline-block
                                        board-block(:count='$root.activePacient==0?3:3', :text="'Bills'", :col="'grey'")
                                    .ccase-managment__top-rect.inline-block
                                        board-block(:count='$root.activePacient==0?2:2', :text="'Referrals'", :col="'pink'")
                                    .ccase-managment__top-rect.inline-block
                                        board-block(:count='$root.activePacient==0?3:2', :text="'Outreach'", :col="'rgb(255,0,0)'")
                                    .ccase-managment__top-rect.inline-block
                                        board-block(:count='$root.activePacient==0?2:4', :text="'Inbound'", :col="'green'")
                            .content__box
                                journey-map(:info="$root._data.Customers[$root.activePacient]")    
                            div.webex-meeting(id="my-ciscospark-widget", @click.prevent="showTeamMeeting()") Click here to test webex meeting
                        //-show scheduling
                        .content(v-if="$root.currentShowBox ==='scheduling' && !currentShowSubBox", key="scheduling")
                            .content__top-line
                                h1.title Caller Information
                            div().ccase-managment
                                .ccase-managment__top
                                    .ccase-managment__top-item
                                        span().infoname Caller Name
                                        multiselect(
                                            v-if="$root._data.addNewCallerName===false",
                                            v-model="$root._data.dropdownCallerName",
                                            :options="$root._data.patientNames",
                                            @input="$root.getCurrentIndexPacient",
                                            :searchable="false",
                                            :allowEmpty="false",
                                            :showLabels="false"
                                        ).ui-multiselect.ui-multiselect--default.inline-block
                                        input(v-if="$root._data.addNewCallerName", v-model="$root._data.newCallerName", :value="$root._data.callerPhone", @keyup="$root.onKeyPress").infovalue

                                    .ccase-managment__top-item
                                        span().infoname Caller Phone #
                                        input(:value="$root._data.callerPhone" readonly).infovalue

                                    .ccase-managment__top-item
                                        span().infoname Call Type
                                        multiselect(
                                            :options="['Customer', 'Parent', 'Family', 'Agent', 'Nurse', 'Physician']",
                                            :searchable="false",
                                            v-model="$root._data.dropdownCallerType",
                                            :allowEmpty="false",
                                            :showLabels="false"
                                        ).ui-multiselect.ui-multiselect--default.inline-block

                                    .ccase-managment__top-item
                                        span().infoname Other
                                        input(:value="$root._data.callerHospital" readonly).infovalue
                                .ccase-managment__top
                                    span().infoname Notes
                                .ccase-managment__top__bottom
                                    textarea(:value="$root._data.callerNotes" readonly).full-width

                            .content__top-line
                                h1.title Customer Schedule
                                a(href="#3", @click.prevent="$root.currentShowSubBox = 'make-appointment'").content__top-action
                                    svg.ico-svg.ico-svg__plus-round
                                        use(xlink:href="#plus-round")
                            .content__box
                                appointment(:patients="$root._data.Customers[$root.activePacient]")
                                journey-map(:info="$root._data.Customers[$root.activePacient]")

                        //- //-answering service
                        //- .content(v-if="$root.currentShowBox ==='answering-service' && !currentShowSubBox", key="answering-service")
                        //-     .content__box
                        //-         answering-service(:data="$root._data.Directory", v-if="$root._data.isPatient === true")
                        //-         answering-service-provider(:data="$root._data.Directory", v-if="$root._data.isProvider === false")
                            
                        //-show case-managment
                        .content(v-if="$root.currentShowBox ==='case-managment' && !currentShowSubBox", key="case-managment")
                            .content__top-line
                                h1.title Caller Information
                            .ccase-managment
                                .ccase-managment__top
                                    .ccase-managment__top-item
                                        span().infoname Caller Name
                                        multiselect(
                                            v-if="$root._data.addNewCallerName===false",
                                            v-model="$root._data.dropdownCallerName",
                                            :options="$root._data.patientNames",
                                            @input="$root.getCurrentIndexPacient",
                                            :searchable="false",
                                            :allowEmpty="false",
                                            :showLabels="false"
                                        ).ui-multiselect.ui-multiselect--default.inline-block
                                        input(v-if="$root._data.addNewCallerName", v-model="$root._data.newCallerName", :value="$root._data.callerPhone", @keyup="$root.onKeyPress").infovalue
                                        
                                    .ccase-managment__top-item
                                        span().infoname Caller Phone #
                                        input(:value="$root._data.callerPhone" readonly).infovalue

                                    .ccase-managment__top-item
                                        span().infoname Call Type
                                        multiselect(
                                            :options="['Customer', 'Parent', 'Family', 'Agent', 'Nurse', 'Physician']",
                                            :searchable="false",
                                            v-model="$root._data.dropdownCallerType",
                                            :allowEmpty="false",
                                            :showLabels="false"
                                        ).ui-multiselect.ui-multiselect--default.inline-block

                                    .ccase-managment__top-item
                                        span().infoname Other
                                        input(:value="$root._data.callerHospital" readonly).infovalue
                                .ccase-managment__top
                                    span().infoname Notes
                                .ccase-managment__top__bottom
                                    textarea(:value="$root._data.callerNotes" readonly).full-width
                            .content__top-line
                                h1.title Case Managment
                            .content__box
                                c-managment
                                c-managment-incidents
                                c-managment-incident
                        //-show triage
                        .content(v-if="$root.currentShowBox ==='triage' && !currentShowSubBox", key="triage")
                            
                            .content__top-line
                                h1.title Caller Information
                            div().ccase-managment
                                .ccase-managment__top
                                    .ccase-managment__top-item
                                        span().infoname Caller Name
                                        multiselect(
                                            v-if="$root._data.addNewCallerName===false",
                                            v-model="$root._data.dropdownCallerName",
                                            :options="$root._data.patientNames",
                                            @input="$root.getCurrentIndexPacient",
                                            :searchable="false",
                                            :allowEmpty="false",
                                            :showLabels="false"
                                        ).ui-multiselect.ui-multiselect--default.inline-block
                                        input(v-if="$root._data.addNewCallerName", v-model="$root._data.newCallerName", :value="$root._data.callerPhone", @keyup="$root.onKeyPress").infovalue
                                        
                                    .ccase-managment__top-item
                                        span().infoname Caller Phone #
                                        input(:value="$root._data.callerPhone" readonly).infovalue

                                    .ccase-managment__top-item
                                        span().infoname Call Type
                                        multiselect(
                                            :options="['Customer', 'Parent', 'Family', 'Agent', 'Nurse', 'Physician']",
                                            :searchable="false",
                                            v-model="$root._data.dropdownCallerType",
                                            :allowEmpty="false",
                                            :showLabels="false"
                                        ).ui-multiselect.ui-multiselect--default.inline-block

                                    .ccase-managment__top-item
                                        span().infoname Other
                                        input(:value="$root._data.callerHospital" readonly).infovalue
                                .ccase-managment__top
                                    span().infoname Notes
                                .ccase-managment__top__bottom
                                    textarea(:value="$root._data.callerNotes" readonly).full-width

                            .content__top-line
                                h1.title Clinical Details
                                multiselect(
                                            v-if="$root._data.addNewCallerName===false",
                                            :options="$root._data.epicProcesses",
                                            @input="openNewWindow($root.epicAddress)",
                                            :searchable="false",
                                            :allowEmpty="false",
                                            :showLabels="false"
                                        ).ui-multiselect.ui-multiselect--default.inline-block
                            .content__box
                                card(:patients="$root._data.Customers[$root.activePacient]")
                                allergies(:patients="$root._data.Customers[$root.activePacient]")
                                encounters(:patients="$root._data.Customers[$root.activePacient]")
                        //-show billing
                        .content(v-if="$root.currentShowBox ==='billing' && !currentShowSubBox", key="billing")
                            .content__top-line
                                h1.title Caller Information
                            .ccase-managment
                                .ccase-managment__top
                                    .ccase-managment__top-item
                                        span().infoname Caller Name
                                        multiselect(
                                            v-if="$root._data.addNewCallerName===false",
                                            v-model="$root._data.dropdownCallerName",
                                            :options="$root._data.patientNames",
                                            @input="$root.getCurrentIndexPacient",
                                            :searchable="false",
                                            :allowEmpty="false",
                                            :showLabels="false"
                                        ).ui-multiselect.ui-multiselect--default.inline-block
                                        input(v-if="$root._data.addNewCallerName", v-model="$root._data.newCallerName", :value="$root._data.callerPhone", @keyup="$root.onKeyPress").infovalue

                                    .ccase-managment__top-item
                                        span().infoname Caller Phone #
                                        input(:value="$root._data.callerPhone" readonly).infovalue

                                    .ccase-managment__top-item
                                        span().infoname Call Type
                                        multiselect(
                                            :options="['Customer', 'Parent', 'Family', 'Agent', 'Nurse', 'Physician']",
                                            :searchable="false",
                                            v-model="$root._data.dropdownCallerType",
                                            :allowEmpty="false",
                                            :showLabels="false"
                                        ).ui-multiselect.ui-multiselect--default.inline-block

                                    .ccase-managment__top-item
                                        span().infoname Other
                                        input(:value="$root._data.callerHospital" readonly).infovalue
                                .ccase-managment__top
                                    span().infoname Notes
                                .ccase-managment__top__bottom
                                    textarea(:value="$root._data.callerNotes" readonly).full-width
                            
                            .content__top-line
                                h1.title Customer Billing
                            .content__box
                                patient-billing(:patient="$root._data.Customers[$root.activePacient]")
                                billing-history(:history="$root._data.Customers[$root.activePacient].BillHistory",@pay-bill="$root.payBill",@show-statement-review="$root.showStatementReview")
                        
                        //-show statement review
                        .content(v-if="$root.currentShowBox ==='statement_review' && !currentShowSubBox", key="statement_review")
                            .content__top-line
                                .div
                                    h1.title Statement Review for {{$root._data.billItem.name}} {{$root._data.billItem.Date}}
                                    .sub-popup-menu
                                        .sub-popup-menu__action
                                            svg.ico-svg.ico-svg__more.svg-blue
                                                use(xlink:href="#more")
                                        .sub-popup-menu__list
                                            a(href="#3", @click.prevent="showImage()").sub-popup-menu__item1 Expand Details
                                            a(href="#3", @click.prevent="openNewWindow($root.epicAddress)").sub-popup-menu__item View in {{$root._data.Customers[$root.activePacient].Category=='EPIC'?'EPIC':"EPIC"}}
                                            a(href="#3", @click.prevent="payBill($root._data.billItem)").sub-popup-menu__item1 Pay Bill
                                            a(href="#3").sub-popup-menu__item1 Adjust
                                            a(href="#3").sub-popup-menu__item1 Print
                                            a(href="#3", @click.prevent="openNewWindow('http://uhealthsystem.com/images/content/UMH-statement.jpg')").sub-popup-menu__item Download as PDF
                                a(href="#3", @click.prevent="$root.goBack").content__top-action
                                    svg.ico-svg.ico-svg__plus-close
                                        use(xlink:href="#close")
                            .content__box
                                statement-review(:item="$root._data.billItem",:showimagemodal="$root._data.showImageModal")
                        //-show payment confirmation
                        .content(v-if="$root.currentShowBox ==='payment_confirmation' && !currentShowSubBox", key="payment_confirmation")
                            .content__top-line
                                h1.title Payment Confirmation
                                a(href="#3", @click.prevent="$root.goBack").content__top-action
                                    svg.ico-svg.ico-svg__plus-close
                                        use(xlink:href="#close")
                            .content__box
                                payment-confirmation(:item="$root._data.billItem", @show-payment-result="$root.showPaymentResult")

                        //-show payment result
                        .content(v-if="$root.currentShowBox ==='payment_result' && !currentShowSubBox", key="payment_result")
                            .content__top-line
                                .div
                                    h1.title Payment Confirmed
                                    .sub-popup-menu
                                        .sub-popup-menu__action
                                            svg.ico-svg.ico-svg__more.svg-blue
                                                use(xlink:href="#more")
                                        .sub-popup-menu__list
                                            a(href="#3").sub-popup-menu__item1 Send Confirmation
                                            a(href="#3").sub-popup-menu__item1 View Another Bill 
                            .content__box
                                payment-result(:item="$root._data.paymentResult", @go-back="$root.goBack")

                        //-show huddle-room
                        .content(v-if="$root.currentShowBox ==='huddle-room' && !currentShowSubBox", key="huddle-room")
                            .content__top-line
                                h1.title Huddle Room
                            .content__box

                        //-show Referrals
                        .content(v-if="$root.currentShowBox ==='referrals' && !currentShowSubBox", key="referrals")
                            transition(name="fade", mode='out-in')
                                .content
                                    .content__box
                                        detail-referral(:show="$root.currentShowDetailReferral")
                            transition(name="fade", mode='out-in')
                                .content
                                    .content__box
                                        update-referral(:show="$root.currentShowUpdateReferral")
                            .content__top-line
                                h1.title Caller Information
                            div().ccase-managment
                                .ccase-managment__top
                                    .ccase-managment__top-item
                                        span().infoname Caller Name
                                        multiselect(
                                            v-if="$root._data.addNewCallerName===false",
                                            v-model="$root._data.dropdownCallerName",
                                            :options="$root._data.patientNames",
                                            @input="$root.getCurrentIndexPacient",
                                            :searchable="false",
                                            :allowEmpty="false",
                                            :showLabels="false"
                                        ).ui-multiselect.ui-multiselect--default.inline-block
                                        input(v-if="$root._data.addNewCallerName", v-model="$root._data.newCallerName", :value="$root._data.callerPhone", @keyup="$root.onKeyPress").infovalue
                                        
                                    .ccase-managment__top-item
                                        span().infoname Caller Phone #
                                        input(:value="$root._data.callerPhone" readonly).infovalue

                                    .ccase-managment__top-item
                                        span().infoname Call Type
                                        multiselect(
                                            :options="['Customer', 'Parent', 'Family', 'Agent', 'Nurse', 'Physician']",
                                            :searchable="false",
                                            v-model="$root._data.dropdownCallerType",
                                            :allowEmpty="false",
                                            :showLabels="false"
                                        ).ui-multiselect.ui-multiselect--default.inline-block

                                    .ccase-managment__top-item
                                        span().infoname Other
                                        input(:value="$root._data.callerHospital" readonly).infovalue
                                .ccase-managment__top
                                    span().infoname Notes
                                .ccase-managment__top__bottom
                                    textarea(:value="$root._data.callerNotes" readonly).full-width

                            .content__top-line
                                h1.title Referrals
                            .content__box
                                referral(:referrals="$root._data.Referrals")
                                journey-map(:info="$root._data.Customers[$root.activePacient]")
                        
                        //-show Directory
                        .content(v-if="$root.currentShowBox ==='directory' && !currentShowSubBox", key="directory")
                            .content__box
                                directory-form(:data="$root._data.Directory")


                        //-show Pharmacy
                        .content(v-if="$root.currentShowBox ==='pharmacy' && !currentShowSubBox", key="pharmacy")
                            .content__top-line
                                h1.title Dialer Information
                                a(href="#3", @click.prevent="$root.showSearchCustomer()").content__top-action
                                    h1.title.inline-block Search Customer
                                    svg.ico-svg__search-patient
                                        use(xlink:href="#search")
                            transition(name="fade", mode='out-in')
                                .content
                                    .content__box
                                        search-patient(:show="$root.currentShowSearchCustomer")
                            div().ccase-managment
                                .ccase-managment__top

                                    .ccase-managment__top-item
                                        span().infoname Record Source:
                                        input(:value="$root._data.dialerInfo.recordSpec" readonly).infovalue
                                    .ccase-managment__top-item
                                        span().infoname Record Imported:
                                        input(:value="$root._data.dialerInfo.recordImported" readonly).infovalue
                                    .ccase-managment__top-item
                                        span().infoname Attempts:
                                        input(:value="$root._data.dialerInfo.attempts" readonly).infovalue
                                .ccase-managment__top
                                    .ccase-managment__top-item
                                        span().infoname First Name:
                                        input(:value="$root._data.dialerInfo.firstName" readonly).infovalue
                                    .ccase-managment__top-item
                                        span().infoname Last Name:
                                        input(:value="$root._data.dialerInfo.lastName" readonly).infovalue
                                    .ccase-managment__top-item
                                        span().infoname Record:
                                        input(:value="$root._data.dialerInfo.record" readonly).infovalue
                                    .ccase-managment__top-item
                                        span().infoname Phone Number:
                                        input(:value="$root._data.dialerInfo.phoneNumber" readonly).infovalue
                                    .ccase-managment__top-item
                                        span().infoname Reason Code:
                                        input(:value="$root._data.dialerInfo.reasonCode" readonly).infovalue
                            .content__top-line
                                h1.title Pharmacies
                            .content__box
                                pharmacy-form(:data="$root._data.Pharmacy")

                        //-show patient-information
                        .content(v-if="$root.currentShowSubBox ==='patient-info'", key="patient-info")
                            .content__top-line
                                h1.title Customer Information
                                a(href="#3", @click.prevent="$root.currentShowSubBox = null").content__top-action
                                    svg.ico-svg.ico-svg__close 
                                        use(xlink:href="#close")
                            .content__box(v-if="$root._data.isPatient === false && $root._data.isProvider === false")
                                patient-info(:info="$root._data.Customers[$root.activePacient]")
                                pharmacy(:info="$root._data.Customers[$root.activePacient]")
                                journey-map(:info="$root._data.Customers[$root.activePacient]")
                            .content__box(v-if="$root._data.isPatient === true || $root._data.isProvider === true")
                                patient-info(v-if="$root._data.isAdam === false", :info="$store.state.chosenCustomer")
                                pharmacy(v-if="$root._data.isAdam === false", :info="$store.state.chosenCustomer")
                                journey-map(v-if="$root._data.isAdam === false", :info="$store.state.chosenCustomer")
                                patient-info(v-if="$root._data.isAdam === true", :info="$root._data.AdamProfile[0]")
                                pharmacy(v-if="$root._data.isAdam === true", :info="$root._data.AdamProfile[0]")
                                journey-map(v-if="$root._data.isAdam === true", :info="$root._data.AdamProfile[0]")
                    
                        //-show make-appointment
                            Make Appointment
                        .content(v-if="$root.currentShowSubBox ==='make-appointment'", key="make-appointment")
                            .content__top-line.mod--appointment
                                a(href="#3", @click.prevent="$root.currentShowSubBox = null").content__top-appointment-close
                                    svg.ico-svg.ico-svg__close
                                        use(xlink:href="#close")

                            .content__box
                                insurance-verification
                                make-appointment(
                                :dropdowns="$root._data.MakeAppointmentDropDownOptions",
                                :existing-apointment-slots="$root._data.ExistingAppointmentSlots",
                                :book-now-data="$root._data.BookNowData"
                                )
            
                
            .dialog-box(v-if="$root.showDialog === true")
                iframe(
                        src="https://console.dialogflow.com/api-client/demo/embedded/f82ccbf3-f2d2-4edb-b76a-ff14bc0bb697",
                        width="350",
                        height="430",
                        allow="microphone"
                    )
                .button
                    img(src="img/minimize.png", alt="333", width="40", height="40", @click.prevent="$root.showDialog = false")
            .dialog-box(v-if="$root.showDialog === false")
                img(src="img/chat.jpg", alt="333", width="175", height="39", @click.prevent="$root.showDialog = true")
